<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
    <add key="DBServer5" value="SPANINT\EMS" />
    <add key="DBServer5" value="DEVELOPER\SQLExpress" />
		<add key="DBServer5" value="work-Mobile\SQLExpress" />		
		<add key="DBServer" value="SPANINT1\SQLExpress" />
    <add key="DBServer5" value="Spans" />
		
		<add key="DBName" value="EMS" />
    <add key="Version" value="2.0"/>
    <add key="UpdateFolder" value="i:\ems\update"/>    
	</appSettings>
</configuration>